<p>Michael Masterson</p>
<p>mmaster8</p>
<p>Susan Haynes</p>
<p>COSC 231</p>
<p>Fall 2014</p>
<p>September 25, 2014</p>

pagan
{
	color: black;
	background-color: pink;
}
new
{
	color: black;
	background-color: #F4A460;
}
old
{
	background-color: grey;
}
number
{
	font-style: italic;
    background-color: white;
}
green
{
	color: #008000;
}
ast
{
	background-color: #BC8F8F;
}
god
{
	background-color: blue;
}
blue
{
	background-color: blue;
}
pink
{
	background-color: pink;
}